.Button {
  min-width: 10vw;
  min-height: 30px;
  padding: 10px 16px;
  outline: none;
  margin: 8px 0px;
  font-size: inherit;
  border: none;
  cursor: pointer;
  background-color: #004ba0;
  color: white;
}

.Button-large{
  width: 100%
}